@media  (max-width: 600px) {   
   .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 80%;
      font-family: var(--font);
   }

   .texto {
      width: 100%;
      margin-bottom: 25px;
      text-align: center;
   }

   .titulo-principal{
      font-size: 2.5rem;
      line-height: 50px;
      font-weight: 700;
      margin-right: 0;
      margin-bottom: 10px;   
   }
   
   .paragrafro {
      font-size: 1.4rem;
   }
   
   .button {
      font-size: 1.1rem;
      padding: 15px 120px ;
      margin-bottom: 20px;
   }
   
   .formulario {
      padding: 30px;
   }
   
   .form{
      justify-content: space-between;
      width: 100%;
      height: 450px;
   }

   .informacoes-form {
      font-size: 0.8rem;
      padding: 0px 50px;
   }
}