@media  (max-width: 1440px) {   
   .container {
      max-width: 80%;
   }

   .texto{
      margin-right: 40px;
   }

   .titulo-principal{
      font-size: 3.5rem;
      line-height: 65px;
      margin-bottom: 10px;   
   }
   
   .paragrafro {
      font-size: 1.3rem;
   }
   
   .formulario {
      width: 550px;
      padding: 30px;
   }
   
   .form{
      width: 100%;
      height: 450px;
   }

}

@media  (max-width: 600px) {   
   .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
   }

   .texto {
      width: 100%;
      margin-bottom: 25px;
      margin-right: 0;
      text-align: center;
   }

   .titulo-principal{
      font-size: 2.5rem;
      line-height: 50px;
      font-weight: 700;
      margin-bottom: 10px;   
   }
   
   .paragrafro {
      font-size: 1.2rem;
   }
   
   .button {
      font-size: 1.1rem;
      padding: 15px 120px ;
      margin-bottom: 20px;
   }
   
   .formulario {
      width: 100%;
      padding: 30px;
   }
   
   .form{
      justify-content: space-between;
      width: 100%;
      height: 450px;
   }

   .informacoes-form {
      font-size: 0.8rem;
      padding: 0px 50px;
   }
}