@media (max-width: 1440px) {
   .titulo-principal {
     font-size: 3.5rem;
     line-height: 3.6875rem;
   }
 
   .paragrafo {
     font-size: 1.25rem;
   }
 
   .container {
     max-width: 90%;
   }

   .formulario {
      padding: 35px;
   }

   .form {
     width: 100%;
     min-height: 0;
   }

   .inputs {
      font-size: 1.1rem;
      margin-bottom: 10px;
    }
  
    .buttonForm {
      padding: 15px;
      font-size: 1rem;
      margin-bottom: 10px;
    }
  
    .informacoes-form {
      font-size: 0.8rem;
    }
 }
 
 @media (max-width: 900px) {
   .container {
     grid-template-areas: 
       "texto"
       "button"
       "formulario";
   }
   .texto {
      text-align: center;
      margin-bottom: 17px;
   }

   .texto, .formulario {
     max-width: 100%;
     margin-right: 0;
   }

   .titulo-principal {
     font-size: 2.5rem;
     line-height: 2.6875rem;
   }

   .paragrafro {
     font-size: 1rem;
   }

   .button {
     padding: 15px;
     font-size: 0.875rem;
   }

   .formulario {
      padding: 28px;
   }

   .form {
     width: 100%;
     min-height: 0;
   }

   .inputs {
     font-size: 0.875rem;
     margin-bottom: 10px;
   }
 
   .buttonForm {
     padding: 15px;
     font-size: 0.75rem;
     margin-bottom: 10px;
   }
 
   .informacoes-form {
     font-size: 0.625rem;
   }
 }
 