.main {
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: var(--cor-fundo) url(/src/images/bg-intro-desktop.png) no-repeat center center;
   background-size: cover;

}

.container {
   display: grid;
   grid-template-areas: 
   "texto button"
   "texto formulario"
   ;
   max-width: 80%;
   font-family: var(--font);
}

.texto {
   display: flex;
   flex-direction: column;
   justify-content: center;
   grid-area: texto;
   color: white;
   max-width: 800px;
   margin-right:50px;
}

.titulo-principal{
   font-size: 3.1rem;
   line-height: 55px;
   font-weight: 700;
   padding-bottom: 20px;
}

.paragrafro {
   font-size: 1rem;
   font-weight: 400;
}

.button, .formulario, .inputs, .buttonForm{
   border-radius: 5px;
}

.button, .formulario {
   box-shadow: 0px 4px 1px 0px #00000039;

}

.button {
   grid-area: button;
   background-color: var(--cor-button);
   color: var(--GrayishBlue);
   font-size: 1rem;
   text-align: center;
   font-weight: 400;
   padding: 10px;
   margin-bottom: 15px;
   text-decoration: none;
}

.negrito {
   color: white;
   font-weight: 600;
}

.formulario {
   grid-area: formulario;
   display: flex;
   flex-direction: column;
   gap: 10px;
   background-color: white;
   padding: 30px;
;}

.form{
   position: relative;

}

.inputs {
   width: 100%;
   margin-bottom: 15px;
   padding: 
   15px 15px 15px 20px;
   border: 2px solid var(--DarkBlue);
   font-family: var(--font);
   font-weight: 600;   
}

.error{
   border: 1px solid var(--error);
}

.inputs::after {
   background: url(/src/images/icon-error.svg) no-repeat;
   height: max-content;
   position: absolute;
}

.buttonForm {
   background-color: var(--cor-button-form);
   padding: 6px;
   text-align: center;
   color: white;
}

.informacoes-form {
   color: gray;
   font-size: 8px;
}

.destaque {
   color: firebrick;
}
