.main {
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: var(--cor-fundo) url(/src/images/bg-intro-desktop.png) no-repeat center center;
   background-size: cover;

}

.container {
   display: grid;
   grid-template-areas: 
   "texto button"
   "texto formulario"
   ;
   max-width: 80%;
   font-family: var(--font);
}

.texto {
   display: flex;
   flex-direction: column;
   justify-content: center;
   grid-area: texto;
   color: white;
   max-width: 800px;
   margin-right:50px;
}

.titulo-principal{
   font-size: 4.5rem;
   line-height: 75px;
   font-weight: 700;
   padding-bottom: 20px;
}

.paragrafro {
   font-size: 1.5rem;
   font-weight: 400;
}

.button, .formulario, .inputs, .buttonForm{
   border-radius: 8px;
}

.button, .formulario {
   box-shadow: 0px 4px 1px 0px #00000039;

}

.button {
   grid-area: button;
   background-color: var(--cor-button);
   color: var(--GrayishBlue);
   font-size: 1rem;
   text-align: center;
   font-weight: 400;
   padding: 20px;
   margin-bottom: 15px;
   text-decoration: none;
}

.negrito {
   color: white;
   font-weight: 600;
}

.formulario {
   grid-area: formulario;
   background-color: white;
   padding: 45px;
   max-width: 750px;
;}

.form{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 600px;
   height: 500px; 
}

.inputs {
   position: relative; 
   width: 100%;
   padding: 20px 25px 20px 25px;
   border: 2px solid var(--GrayishBlue);
   font-family: var(--font);
   font-size: 1.1rem;
   font-weight: 600;  
}

.error{
   border: 1px solid var(--destaque);
}

.inputs::after {
   content: " ";
   background: url(../images/icon-error.svg);
   width: 50px;
   height: 50px;
   position: absolute;
}

.buttonForm {
   background-color: var(--cor-button-form);
   padding: 20px;
   font: var(--font);
   font-weight: 500;
   text-align: center;
   color: white;
   text-transform: uppercase;
   box-shadow: inset 0px -3px 5px hsl(154, 63%, 37%);
}

.informacoes-form {
   color: var(--GrayishBlue);
   font-size: 12px;
   text-align: center;
}

.destaque {
   color: var(--destaque);
   font-weight: 600;
}
