:root {
   --cor-fundo: hsl(0, 100%, 74%);
   --cor-button-form: hsl(154, 59%, 51%);
   --cor-button: hsl(248, 32%, 49%);

   --DarkBlue: hsl(249, 10%, 26%);
   --GrayishBlue: hsl(246, 25%, 77%);

   --error: red;

   --font: 'Poppins', sans-serif;
}